<h1>Welcome to the Alpha Blog Web App</h1>
<p>Are you excited to build this App with me?</p>
<p>Click on the Articles link in the navigation bar to get started!</p>
<%= link_to "Articles", articles_path, class: "show-button" %>