/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
.validation-errors {
  background-color: #ffe6e6;
  border-radius: 5px;
  border: 1px solid #ff4d4d;
  color: #cc0000;
  margin-bottom: 20px;
  padding: 15px;
}

.validation-errors h2 {
  margin-top: 0;
  font-weight: bold;
}

.validation-errors ul {
  margin: 0;
  padding-left: 20px;
}

.flash-message {
  background-color: #e6f7ff;
  border-radius: 5px;
  border: 1px solid #3399ff;
  color: #0059b3;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 10px 15px;
}

.delete-button {
  background-color: #ff4d4d;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #cc0000;
}

.edit-button {
  background-color: #3399ff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color: #007acc;
}

.action-buttons {
  display: flex;
  gap: 10px; /* space between buttons */
  margin-top: 15px;
}

.edit-button,
.delete-button {
  flex-shrink: 0; /* prevents buttons from shrinking */
}

.create-button {
  background-color: #3ead5a;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.create-button:hover {
  background-color: #0d9445;
}

.show-button {
  background-color: #4dd8cc;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.show-button:hover {
  background-color: #369691;
}

.back-button {
  background-color: #cac82e;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #8b8a31;
}


